Make.com/Faceless Video - Content Creation.blueprint.json
{
    "name": "Faceless Video - Content Creation",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4368050
            },
            "mapper": {
                "base": "appDPgJfHAC6fse8T",
                "view": "viw1pVepX9zRo4n97",
                "table": "tblJl5phSheJgbTPE",
                "fields": [
                    "Objective Name",
                    "Number of Scenes",
                    "Platform",
                    "Aspect Ratio",
                    "Artistic Style",
                    "Lighting and Mood",
                    "Composition & Perspective",
                    "Book Name",
                    "CTA",
                    "Status",
                    "Storyboard",
                    "Last Modified",
                    "Final Piece",
                    "Created",
                    "Image Prompt 1",
                    "Image 1",
                    "Audio Overlay 1",
                    "Audio 1",
                    "Image Prompt 2",
                    "Image 2",
                    "Audio Overlay 2",
                    "Audio 2",
                    "Image Prompt 3",
                    "Image 3",
                    "Audio Overlay 3",
                    "Audio 3",
                    "Image Prompt 4",
                    "Image 4",
                    "Audio Overlay 4",
                    "Audio 4",
                    "Image Prompt 5",
                    "Image 5",
                    "Audio Overlay 5",
                    "Audio 5",
                    "Image Prompt 6",
                    "Image 6",
                    "Audio Overlay 6",
                    "Audio 6",
                    "Book Title (from Book Details)",
                    "Pen Name (from Book Details)",
                    "Audience/Genre (from Book Details)",
                    "Tone/Mood (from Book Details)",
                    "Tropes (from Book Details)",
                    "Setting (from Book Details)",
                    "Protagonist Names (from Book Details)",
                    "Blurb (from Book Details)",
                    "Book Cover (from Book Details)",
                    "Reference Images (from Book Details)"
                ],
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Faceless Content"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Start"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Content"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Objective Name",
                                "Number of Scenes",
                                "Platform",
                                "Aspect Ratio",
                                "Artistic Style",
                                "Lighting and Mood",
                                "Composition & Perspective",
                                "Book Name",
                                "CTA",
                                "Status",
                                "Storyboard",
                                "Last Modified",
                                "Final Piece",
                                "Created",
                                "Image Prompt 1",
                                "Image 1",
                                "Audio Overlay 1",
                                "Audio 1",
                                "Image Prompt 2",
                                "Image 2",
                                "Audio Overlay 2",
                                "Audio 2",
                                "Image Prompt 3",
                                "Image 3",
                                "Audio Overlay 3",
                                "Audio 3",
                                "Image Prompt 4",
                                "Image 4",
                                "Audio Overlay 4",
                                "Audio 4",
                                "Image Prompt 5",
                                "Image 5",
                                "Audio Overlay 5",
                                "Audio 5",
                                "Image Prompt 6",
                                "Image 6",
                                "Audio Overlay 6",
                                "Audio 6",
                                "Book Title (from Book Details)",
                                "Pen Name (from Book Details)",
                                "Audience/Genre (from Book Details)",
                                "Tone/Mood (from Book Details)",
                                "Tropes (from Book Details)",
                                "Setting (from Book Details)",
                                "Protagonist Names (from Book Details)",
                                "Blurb (from Book Details)",
                                "Book Cover (from Book Details)",
                                "Reference Images (from Book Details)"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Airtable 2 (User ID: usrwqsGXoBiXzP5sx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Objective Name",
                        "type": "text",
                        "label": "Objective Name"
                    },
                    {
                        "name": "Number of Scenes",
                        "type": "text",
                        "label": "Number of Scenes"
                    },
                    {
                        "name": "Platform",
                        "type": "array",
                        "label": "Platform",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Aspect Ratio",
                        "type": "array",
                        "label": "Aspect Ratio",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Artistic Style",
                        "type": "text",
                        "label": "Artistic Style"
                    },
                    {
                        "name": "Lighting and Mood",
                        "type": "text",
                        "label": "Lighting and Mood"
                    },
                    {
                        "name": "Composition & Perspective",
                        "type": "text",
                        "label": "Composition & Perspective"
                    },
                    {
                        "name": "Book Name",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Book Name"
                    },
                    {
                        "name": "CTA",
                        "type": "text",
                        "label": "CTA"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Storyboard",
                        "type": "text",
                        "label": "Storyboard",
                        "multiline": true
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Final Piece",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Final Piece"
                    },
                    {
                        "name": "Created",
                        "type": "boolean",
                        "label": "Created"
                    },
                    {
                        "name": "Image Prompt 1",
                        "type": "text",
                        "label": "Image Prompt 1",
                        "multiline": true
                    },
                    {
                        "name": "Image 1",
                        "type": "text",
                        "label": "Image 1"
                    },
                    {
                        "name": "Audio Overlay 1",
                        "type": "text",
                        "label": "Audio Overlay 1",
                        "multiline": true
                    },
                    {
                        "name": "Audio 1",
                        "type": "text",
                        "label": "Audio 1"
                    },
                    {
                        "name": "Image Prompt 2",
                        "type": "text",
                        "label": "Image Prompt 2",
                        "multiline": true
                    },
                    {
                        "name": "Image 2",
                        "type": "text",
                        "label": "Image 2"
                    },
                    {
                        "name": "Audio Overlay 2",
                        "type": "text",
                        "label": "Audio Overlay 2",
                        "multiline": true
                    },
                    {
                        "name": "Audio 2",
                        "type": "text",
                        "label": "Audio 2"
                    },
                    {
                        "name": "Image Prompt 3",
                        "type": "text",
                        "label": "Image Prompt 3",
                        "multiline": true
                    },
                    {
                        "name": "Image 3",
                        "type": "text",
                        "label": "Image 3"
                    },
                    {
                        "name": "Audio Overlay 3",
                        "type": "text",
                        "label": "Audio Overlay 3",
                        "multiline": true
                    },
                    {
                        "name": "Audio 3",
                        "type": "text",
                        "label": "Audio 3"
                    },
                    {
                        "name": "Image Prompt 4",
                        "type": "text",
                        "label": "Image Prompt 4",
                        "multiline": true
                    },
                    {
                        "name": "Image 4",
                        "type": "text",
                        "label": "Image 4"
                    },
                    {
                        "name": "Audio Overlay 4",
                        "type": "text",
                        "label": "Audio Overlay 4",
                        "multiline": true
                    },
                    {
                        "name": "Audio 4",
                        "type": "text",
                        "label": "Audio 4"
                    },
                    {
                        "name": "Image Prompt 5",
                        "type": "text",
                        "label": "Image Prompt 5",
                        "multiline": true
                    },
                    {
                        "name": "Image 5",
                        "type": "text",
                        "label": "Image 5"
                    },
                    {
                        "name": "Audio Overlay 5",
                        "type": "text",
                        "label": "Audio Overlay 5",
                        "multiline": true
                    },
                    {
                        "name": "Audio 5",
                        "type": "text",
                        "label": "Audio 5"
                    },
                    {
                        "name": "Image Prompt 6",
                        "type": "text",
                        "label": "Image Prompt 6",
                        "multiline": true
                    },
                    {
                        "name": "Image 6",
                        "type": "text",
                        "label": "Image 6"
                    },
                    {
                        "name": "Audio Overlay 6",
                        "type": "text",
                        "label": "Audio Overlay 6",
                        "multiline": true
                    },
                    {
                        "name": "Audio 6",
                        "type": "text",
                        "label": "Audio 6"
                    },
                    {
                        "name": "Book Title (from Book Details)",
                        "type": "array",
                        "label": "Book Title (from Book Details)"
                    },
                    {
                        "name": "Pen Name (from Book Details)",
                        "type": "array",
                        "label": "Pen Name (from Book Details)"
                    },
                    {
                        "name": "Audience/Genre (from Book Details)",
                        "type": "array",
                        "label": "Audience/Genre (from Book Details)"
                    },
                    {
                        "name": "Tone/Mood (from Book Details)",
                        "type": "array",
                        "label": "Tone/Mood (from Book Details)"
                    },
                    {
                        "name": "Tropes (from Book Details)",
                        "type": "array",
                        "label": "Tropes (from Book Details)"
                    },
                    {
                        "name": "Setting (from Book Details)",
                        "type": "array",
                        "label": "Setting (from Book Details)"
                    },
                    {
                        "name": "Protagonist Names (from Book Details)",
                        "type": "array",
                        "label": "Protagonist Names (from Book Details)"
                    },
                    {
                        "name": "Blurb (from Book Details)",
                        "type": "array",
                        "label": "Blurb (from Book Details)"
                    },
                    {
                        "name": "Book Cover (from Book Details)",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Book Cover (from Book Details)"
                    },
                    {
                        "name": "Reference Images (from Book Details)",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Reference Images (from Book Details)"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1
            },
            "mapper": {
                "id": "{{1.id}}",
                "CTA": "{{1.CTA}}",
                "Status": "{{1.Status}}",
                "Audio 1": "{{1.`Audio 1`}}",
                "Audio 2": "{{1.`Audio 2`}}",
                "Audio 3": "{{1.`Audio 3`}}",
                "Audio 4": "{{1.`Audio 4`}}",
                "Audio 5": "{{1.`Audio 5`}}",
                "Audio 6": "{{1.`Audio 6`}}",
                "Created": "{{1.Created}}",
                "Image 1": "{{1.`Image 1`}}",
                "Image 2": "{{1.`Image 2`}}",
                "Image 3": "{{1.`Image 3`}}",
                "Image 4": "{{1.`Image 4`}}",
                "Image 5": "{{1.`Image 5`}}",
                "Image 6": "{{1.`Image 6`}}",
                "Platform": "{{1.Platform}}",
                "Book Name": "{{1.`Book Name`}}",
                "Storyboard": "{{1.Storyboard}}",
                "Final Piece": "{{1.`Final Piece`}}",
                "createdTime": "{{1.createdTime}}",
                "Aspect Ratio": "{{1.`Aspect Ratio`}}",
                "__IMTINDEX__": "{{1.`__IMTINDEX__`}}",
                "Last Modified": "{{1.`Last Modified`}}",
                "__IMTLENGTH__": "{{1.`__IMTLENGTH__`}}",
                "Artistic Style": "{{1.`Artistic Style`}}",
                "Image Prompt 1": "{{1.`Image Prompt 1`}}",
                "Image Prompt 2": "{{1.`Image Prompt 2`}}",
                "Image Prompt 3": "{{1.`Image Prompt 3`}}",
                "Image Prompt 4": "{{1.`Image Prompt 4`}}",
                "Image Prompt 5": "{{1.`Image Prompt 5`}}",
                "Image Prompt 6": "{{1.`Image Prompt 6`}}",
                "Objective Name": "{{1.`Objective Name`}}",
                "Scene 1 Prompt": "{{1.`Scene 1 Prompt`}}",
                "Scene 2 Prompt": "{{1.`Scene 2 Prompt`}}",
                "Scene 3 Prompt": "{{1.`Scene 3 Prompt`}}",
                "Scene 4 Prompt": "{{1.`Scene 4 Prompt`}}",
                "Scene 5 Prompt": "{{1.`Scene 5 Prompt`}}",
                "Scene 6 Prompt": "{{1.`Scene 6 Prompt`}}",
                "Audio Overlay 1": "{{1.`Audio Overlay 1`}}",
                "Audio Overlay 2": "{{1.`Audio Overlay 2`}}",
                "Audio Overlay 3": "{{1.`Audio Overlay 3`}}",
                "Audio Overlay 4": "{{1.`Audio Overlay 4`}}",
                "Audio Overlay 5": "{{1.`Audio Overlay 5`}}",
                "Audio Overlay 6": "{{1.`Audio Overlay 6`}}",
                "Number of Scenes": "{{1.`Number of Scenes`}}",
                "Lighting and Mood": "{{1.`Lighting and Mood`}}",
                "Scene 1 Narration": "{{1.`Scene 1 Narration`}}",
                "Scene 2 Narration": "{{1.`Scene 2 Narration`}}",
                "Scene 3 Narration": "{{1.`Scene 3 Narration`}}",
                "Scene 4 Narration": "{{1.`Scene 4 Narration`}}",
                "Scene 5 Narration": "{{1.`Scene 5 Narration`}}",
                "Scene 6 Narration": "{{1.`Scene 6 Narration`}}",
                "Blurb (from Book Details)": "{{1.`Blurb (from Book Details)`}}",
                "Composition & Perspective": "{{1.`Composition & Perspective`}}",
                "Tropes (from Book Details)": "{{1.`Tropes (from Book Details)`}}",
                "Setting (from Book Details)": "{{1.`Setting (from Book Details)`}}",
                "Pen Name (from Book Details)": "{{1.`Pen Name (from Book Details)`}}",
                "Tone/Mood (from Book Details)": "{{1.`Tone/Mood (from Book Details)`}}",
                "Book Cover (from Book Details)": "{{1.`Book Cover (from Book Details)`}}",
                "Book Title (from Book Details)": "{{1.`Book Title (from Book Details)`}}",
                "Audience/Genre (from Book Details)": "{{1.`Audience/Genre (from Book Details)`}}",
                "Reference Images (from Book Details)": "{{1.`Reference Images (from Book Details)`}}",
                "Protagonist Names (from Book Details)": "{{1.`Protagonist Names (from Book Details)`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Airtable - Search Records [1]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{6.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3571866
            },
            "mapper": {
                "model": "gpt-5-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an expert storyboard creator for book marketing videos. Your task is to create a complete storyboard with multiple scenes.\n\nCRITICAL: Return ONLY valid JSON. No markdown blocks, no explanations, no extra text.\nRequired JSON Structure:\n{\n  \"objective\": \"string\",\n  \"platforms\": [\"array of strings\"],\n  \"aspect_ratio\": \"string\",\n  \"total_scenes\": number,\n  \"scene_1\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  },\n  \"scene_2\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  },\n  \"scene_3\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  },\n  \"scene_4\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  },\n  \"scene_5\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  },\n  \"scene_6\": {\n    \"storyboard_description\": \"string\",\n    \"image_prompt\": \"string\", \n    \"audio_narration\": \"string\"\n  }\n}\nScene Creation Rules:\n\nCreate exactly {{7.`Number of Scenes`}} scenes numbered 1 through {{7.`Number of Scenes`}}\nScene 1 = Strong hook that grabs attention immediately\nMiddle scenes = Build tension and showcase key story elements\nFinal scene = Must include call-to-action (CTA) like \"Available now\" or \"Get your copy today\"\nEach audio narration: 12-35 words, present tense, emotionally engaging\nTarget 3-4 seconds per scene for short-form video\n\nImage Prompt Format:\n\"{{7.`Protagonist Names (from Book Details)`}} [Action/Pose] in [Setting], [Camera Angle], [Lighting Style], [Art Style], high quality, detailed, no text, no watermarks\"\nStyle Guidelines:\n\nArt Style: [ART_STYLE]{{7.`Artistic Style`}} (e.g., cinematic, illustrated, photorealistic)\nLighting: [LIGHTING] {{7.`Lighting and Mood`}}(e.g., dramatic shadows, soft natural light, moody)\nComposition: [COMPOSITION]{{7.`Composition & Perspective`}} (e.g., close-up, wide shot, overhead view)\n\nBook Context (Use for inspiration but don't copy):\n\nTitle: {{7.`Book Title (from Book Details)`}}\nAuthor: {{7.`Pen Name (from Book Details)`}}\nGenre: {{7.`Audience/Genre (from Book Details)`}}\nSetting: {{7.`Setting (from Book Details)`}}\nMain Characters: {{7.`Protagonist Names (from Book Details)`}}\nTone: {{7.`Tone/Mood (from Book Details)`}}\nPlot Summary: {{7.`Blurb (from Book Details)`}}\nTropes: {{7.`Tropes (from Book Details)`}}\n\nMarketing Objective: {{7.`Objective Name`}}\nTarget Platforms: {{7.Platform}}\nAspect Ratio: {{7.`Aspect Ratio`}}"
                    }
                ],
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "max_tokens": {
                            "empty": true
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4368050
            },
            "mapper": {
                "base": "appDPgJfHAC6fse8T",
                "table": "tblJl5phSheJgbTPE",
                "record": {
                    "fld1zwROwNIOIpLjZ": "{{11.result.scene_1.audio_narration}}",
                    "fld2QbDItYTikyCic": "{{11.result.scene_2.image_prompt}}",
                    "fldGZZ8h5PMZVpS1Z": "{{11.result.scene_4.audio_narration}}",
                    "fldXcjzqGFagyfYx1": "{{11.result.scene_6.audio_narration}}",
                    "fldcIdxvJHj1VsKKN": "{{11.result.objective}}",
                    "fldetLh7k7l1sQygT": "{{11.result.scene_5.image_prompt}}",
                    "fldgI0go7ri33JxV4": "{{11.result.scene_3.audio_narration}}",
                    "fldieYN5iopKCheO4": "Storyboard Review",
                    "fldlqVqnjp1YOwrAe": "{{11.result.scene_6.image_prompt}}",
                    "fldn7Qf5mBbT8GRjn": "{{11.result.scene_4.image_prompt}}",
                    "fldoKD8zRN3Ax8u0e": "{{11.result.scene_5.audio_narration}}",
                    "fldq1LjTHF0DbDk7F": "{{11.result.scene_3.image_prompt}}",
                    "fldseXkcOAdR9Mbx3": "{{11.result.scene_2.audio_narration}}",
                    "flduOEss5UzcVwEpv": "{{11.result.scene_1.image_prompt}}",
                    "fldwy1roFxFUvbxXk": "{{11.result.scene_1.storyboard_description}}\n{{11.result.scene_2.storyboard_description}}\n{{11.result.scene_3.storyboard_description}}\n{{11.result.scene_4.storyboard_description}}\n{{11.result.scene_5.storyboard_description}}\n{{11.result.scene_6.storyboard_description}}"
                },
                "recordId": "{{7.id}}",
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Faceless Content"
                        },
                        "table": {
                            "label": "Content"
                        },
                        "record": {
                            "nested": {
                                "fldCMrht6PdtDHhUW": {
                                    "mode": "chose"
                                },
                                "fldIXvtirxRpTwiRR": {
                                    "mode": "edit"
                                },
                                "fldMtB35WZXQveXV7": {
                                    "mode": "chose"
                                },
                                "fldOFTMZocURyfObA": {
                                    "mode": "chose"
                                },
                                "fldQcdQbiaN3mzY1W": {
                                    "mode": "edit"
                                },
                                "fldieYN5iopKCheO4": {
                                    "mode": "chose",
                                    "label": "Storyboard Review"
                                },
                                "fldj1da5BSigkF0RY": {
                                    "mode": "chose"
                                },
                                "fldjCujVPrzwOJgqj": {
                                    "mode": "edit"
                                },
                                "fldpEAhweXlm11JDX": {
                                    "mode": "edit"
                                },
                                "fldyQaC7AfeTVtZ0Y": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Airtable 2 (User ID: usrwqsGXoBiXzP5sx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldF6b73htotmpTc1",
                                "type": "text",
                                "label": "Objective Name"
                            },
                            {
                                "mode": "edit",
                                "name": "fldIXvtirxRpTwiRR",
                                "type": "select",
                                "label": "Number of Scenes"
                            },
                            {
                                "name": "fldMtB35WZXQveXV7",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "YouTube",
                                            "value": "YouTube"
                                        },
                                        {
                                            "label": "Instagram",
                                            "value": "Instagram"
                                        },
                                        {
                                            "label": "Facebook",
                                            "value": "Facebook"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Platform"
                            },
                            {
                                "name": "fldCMrht6PdtDHhUW",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "square_1_1",
                                            "value": "square_1_1"
                                        },
                                        {
                                            "label": "classic_4_3",
                                            "value": "classic_4_3"
                                        },
                                        {
                                            "label": "traditional_3_4",
                                            "value": "traditional_3_4"
                                        },
                                        {
                                            "label": "widescreen_16_9",
                                            "value": "widescreen_16_9"
                                        },
                                        {
                                            "label": "social_story_9_16",
                                            "value": "social_story_9_16"
                                        },
                                        {
                                            "label": "smartphone_horizontal_20_9",
                                            "value": "smartphone_horizontal_20_9"
                                        },
                                        {
                                            "label": "smartphone_vertical_9_20",
                                            "value": "smartphone_vertical_9_20"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Aspect Ratio"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpEAhweXlm11JDX",
                                "type": "select",
                                "label": "Artistic Style"
                            },
                            {
                                "mode": "edit",
                                "name": "fldQcdQbiaN3mzY1W",
                                "type": "select",
                                "label": "Lighting and Mood"
                            },
                            {
                                "mode": "edit",
                                "name": "fldjCujVPrzwOJgqj",
                                "type": "select",
                                "label": "Composition & Perspective"
                            },
                            {
                                "name": "fldj1da5BSigkF0RY",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Book Name"
                            },
                            {
                                "name": "fldcIdxvJHj1VsKKN",
                                "type": "text",
                                "label": "CTA"
                            },
                            {
                                "mode": "edit",
                                "name": "fldieYN5iopKCheO4",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldwy1roFxFUvbxXk",
                                "type": "text",
                                "label": "Storyboard"
                            },
                            {
                                "name": "fldOFTMZocURyfObA",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Final Piece"
                            },
                            {
                                "name": "fldyQaC7AfeTVtZ0Y",
                                "type": "boolean",
                                "label": "Created"
                            },
                            {
                                "name": "flduOEss5UzcVwEpv",
                                "type": "text",
                                "label": "Image Prompt 1"
                            },
                            {
                                "name": "fldsG6lNd2v9recC6",
                                "type": "text",
                                "label": "Image 1"
                            },
                            {
                                "name": "fld1zwROwNIOIpLjZ",
                                "type": "text",
                                "label": "Audio Overlay 1"
                            },
                            {
                                "name": "fldxtJKBQ082IJZ6H",
                                "type": "text",
                                "label": "Audio 1"
                            },
                            {
                                "name": "fld2QbDItYTikyCic",
                                "type": "text",
                                "label": "Image Prompt 2"
                            },
                            {
                                "name": "fldahX6nPmM6zTvWw",
                                "type": "text",
                                "label": "Image 2"
                            },
                            {
                                "name": "fldseXkcOAdR9Mbx3",
                                "type": "text",
                                "label": "Audio Overlay 2"
                            },
                            {
                                "name": "fldSZ3DSw4P9O4pys",
                                "type": "text",
                                "label": "Audio 2"
                            },
                            {
                                "name": "fldq1LjTHF0DbDk7F",
                                "type": "text",
                                "label": "Image Prompt 3"
                            },
                            {
                                "name": "fldgyNipKVqk61qfJ",
                                "type": "text",
                                "label": "Image 3"
                            },
                            {
                                "name": "fldgI0go7ri33JxV4",
                                "type": "text",
                                "label": "Audio Overlay 3"
                            },
                            {
                                "name": "fldjlZmn1poAm3YTK",
                                "type": "text",
                                "label": "Audio 3"
                            },
                            {
                                "name": "fldn7Qf5mBbT8GRjn",
                                "type": "text",
                                "label": "Image Prompt 4"
                            },
                            {
                                "name": "fldZVVkBUjFIurM5d",
                                "type": "text",
                                "label": "Image 4"
                            },
                            {
                                "name": "fldGZZ8h5PMZVpS1Z",
                                "type": "text",
                                "label": "Audio Overlay 4"
                            },
                            {
                                "name": "flddakgsxIMrk1k0B",
                                "type": "text",
                                "label": "Audio 4"
                            },
                            {
                                "name": "fldetLh7k7l1sQygT",
                                "type": "text",
                                "label": "Image Prompt 5"
                            },
                            {
                                "name": "fldHZIphvnomjWmnD",
                                "type": "text",
                                "label": "Image 5"
                            },
                            {
                                "name": "fldoKD8zRN3Ax8u0e",
                                "type": "text",
                                "label": "Audio Overlay 5"
                            },
                            {
                                "name": "fldMbR8p1KInkMEO0",
                                "type": "text",
                                "label": "Audio 5"
                            },
                            {
                                "name": "fldlqVqnjp1YOwrAe",
                                "type": "text",
                                "label": "Image Prompt 6"
                            },
                            {
                                "name": "fldyYuZPfqrV6D0A1",
                                "type": "text",
                                "label": "Image 6"
                            },
                            {
                                "name": "fldXcjzqGFagyfYx1",
                                "type": "text",
                                "label": "Audio Overlay 6"
                            },
                            {
                                "name": "fldqObMjaTf8QWaYt",
                                "type": "text",
                                "label": "Audio 6"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Objective Name",
                        "type": "text",
                        "label": "Objective Name"
                    },
                    {
                        "name": "Number of Scenes",
                        "type": "text",
                        "label": "Number of Scenes"
                    },
                    {
                        "name": "Platform",
                        "type": "array",
                        "label": "Platform",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Aspect Ratio",
                        "type": "array",
                        "label": "Aspect Ratio",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Artistic Style",
                        "type": "text",
                        "label": "Artistic Style"
                    },
                    {
                        "name": "Lighting and Mood",
                        "type": "text",
                        "label": "Lighting and Mood"
                    },
                    {
                        "name": "Composition & Perspective",
                        "type": "text",
                        "label": "Composition & Perspective"
                    },
                    {
                        "name": "Book Name",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Book Name"
                    },
                    {
                        "name": "CTA",
                        "type": "text",
                        "label": "CTA"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Storyboard",
                        "type": "text",
                        "label": "Storyboard",
                        "multiline": true
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Final Piece",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Final Piece"
                    },
                    {
                        "name": "Created",
                        "type": "boolean",
                        "label": "Created"
                    },
                    {
                        "name": "Image Prompt 1",
                        "type": "text",
                        "label": "Image Prompt 1",
                        "multiline": true
                    },
                    {
                        "name": "Image 1",
                        "type": "text",
                        "label": "Image 1"
                    },
                    {
                        "name": "Audio Overlay 1",
                        "type": "text",
                        "label": "Audio Overlay 1",
                        "multiline": true
                    },
                    {
                        "name": "Audio 1",
                        "type": "text",
                        "label": "Audio 1"
                    },
                    {
                        "name": "Image Prompt 2",
                        "type": "text",
                        "label": "Image Prompt 2",
                        "multiline": true
                    },
                    {
                        "name": "Image 2",
                        "type": "text",
                        "label": "Image 2"
                    },
                    {
                        "name": "Audio Overlay 2",
                        "type": "text",
                        "label": "Audio Overlay 2",
                        "multiline": true
                    },
                    {
                        "name": "Audio 2",
                        "type": "text",
                        "label": "Audio 2"
                    },
                    {
                        "name": "Image Prompt 3",
                        "type": "text",
                        "label": "Image Prompt 3",
                        "multiline": true
                    },
                    {
                        "name": "Image 3",
                        "type": "text",
                        "label": "Image 3"
                    },
                    {
                        "name": "Audio Overlay 3",
                        "type": "text",
                        "label": "Audio Overlay 3",
                        "multiline": true
                    },
                    {
                        "name": "Audio 3",
                        "type": "text",
                        "label": "Audio 3"
                    },
                    {
                        "name": "Image Prompt 4",
                        "type": "text",
                        "label": "Image Prompt 4",
                        "multiline": true
                    },
                    {
                        "name": "Image 4",
                        "type": "text",
                        "label": "Image 4"
                    },
                    {
                        "name": "Audio Overlay 4",
                        "type": "text",
                        "label": "Audio Overlay 4",
                        "multiline": true
                    },
                    {
                        "name": "Audio 4",
                        "type": "text",
                        "label": "Audio 4"
                    },
                    {
                        "name": "Image Prompt 5",
                        "type": "text",
                        "label": "Image Prompt 5",
                        "multiline": true
                    },
                    {
                        "name": "Image 5",
                        "type": "text",
                        "label": "Image 5"
                    },
                    {
                        "name": "Audio Overlay 5",
                        "type": "text",
                        "label": "Audio Overlay 5",
                        "multiline": true
                    },
                    {
                        "name": "Audio 5",
                        "type": "text",
                        "label": "Audio 5"
                    },
                    {
                        "name": "Image Prompt 6",
                        "type": "text",
                        "label": "Image Prompt 6",
                        "multiline": true
                    },
                    {
                        "name": "Image 6",
                        "type": "text",
                        "label": "Image 6"
                    },
                    {
                        "name": "Audio Overlay 6",
                        "type": "text",
                        "label": "Audio Overlay 6",
                        "multiline": true
                    },
                    {
                        "name": "Audio 6",
                        "type": "text",
                        "label": "Audio 6"
                    },
                    {
                        "name": "Book Title (from Book Details)",
                        "type": "array",
                        "label": "Book Title (from Book Details)"
                    },
                    {
                        "name": "Pen Name (from Book Details)",
                        "type": "array",
                        "label": "Pen Name (from Book Details)"
                    },
                    {
                        "name": "Audience/Genre (from Book Details)",
                        "type": "array",
                        "label": "Audience/Genre (from Book Details)"
                    },
                    {
                        "name": "Tone/Mood (from Book Details)",
                        "type": "array",
                        "label": "Tone/Mood (from Book Details)"
                    },
                    {
                        "name": "Tropes (from Book Details)",
                        "type": "array",
                        "label": "Tropes (from Book Details)"
                    },
                    {
                        "name": "Setting (from Book Details)",
                        "type": "array",
                        "label": "Setting (from Book Details)"
                    },
                    {
                        "name": "Protagonist Names (from Book Details)",
                        "type": "array",
                        "label": "Protagonist Names (from Book Details)"
                    },
                    {
                        "name": "Blurb (from Book Details)",
                        "type": "array",
                        "label": "Blurb (from Book Details)"
                    },
                    {
                        "name": "Book Cover (from Book Details)",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Book Cover (from Book Details)"
                    },
                    {
                        "name": "Reference Images (from Book Details)",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Reference Images (from Book Details)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}